<!DOCTYPE html>
<html>
<head>
<style>
/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 10px;
    margin-top: 5px;
  }
  
  #message p {
    padding: 10px 25px;
    font-size: 12px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: rgb(31, 221, 6);
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: #f30;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  </style>
</head>
<body>

</body>
</html> 